allow vendor_init rootfs:dir {create_dir_perms};
allow vendor_init proc_kernel_sched:file write;
allow vendor_init proc:file write;
allow vendor_init firmware_file:dir r_file_perms;
